# Byte-compiled files
__pycache__/
*.py[cod]

# Custom
private/
scratch/

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.whl

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# SQL databases
*.sqlite3

# PyCharm IDE
.idea/

# VS Code IDE
.vscode/

# Virtual environments
env/
venv/
ENV/

# Docker
*.pid
logs/
*.log

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore custom directory
PBC_for_SQL/